@font-face {
  font-family: "ReemKufiRegular";
  src: url("/fonts/ReemKufi-Regular.woff") format("woff");
}
@font-face {
  font-family: "RedressedRegular";
  src: url("/fonts/Redressed-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("/fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSansLight";
  src: url("/fonts/OpenSans-Light.woff") format("woff");
}
*,
::before,
::after {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: #e1e1e1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.mixFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  background: #e1e1e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.top {
  width: 100%;
  background: #bcbcff;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.topNav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNav__btMenu {
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
.topNav__btMenu:hover {
  border: 1px solid #ffffff;
}
.topNav__pages {
  min-width: 10%;
  height: 30px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'ReemKufiRegular';
  font-size: 20px;
}
.topNav__pages > p:first-child {
  margin: 0 5px 0 0;
}
.topNav__pages > span {
  margin: 0 5px;
}
.topNav__current-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3), inset -1px -1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}
.topNav__items {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: 'ReemKufiRegular';
  font-size: 20px;
}
.topNav__item-lang {
  width: 23%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNav__lang {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.topNav__lang > input[type="radio"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 7px 0 0;
}
.topNav__lang > input[type="radio"]::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images/uncheckedLang.svg") no-repeat center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.topNav__lang > input[type="radio"]:checked::after {
  background: url("/images/checkedLang.svg") no-repeat center;
}
.topNav__lang > input[type="radio"]:disabled:checked::after {
  background: url("/images/disabledCheckedLang.svg") no-repeat center;
}
.topNav__lang > input[type="radio"]:disabled::after {
  background: url("/images/disabledLang.svg") no-repeat center;
}
.topNav__lang > input[type="radio"]:disabled + label {
  color: #e7e7e7;
}
.topNav__lang > label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.topNav__item-portion-words {
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNav__item-portion-words > button {
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0);
  outline: 0;
  user-select: none;
  background: #bcbcff;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
.topNav__item-portion-words > button:hover {
  border: 1px solid #ffffff;
  transition: border .1s linear;
}
.topNav__item-portion-words > button:disabled {
  border: 1px solid rgba(255, 255, 255, 0);
  color: #d1d1d1;
}
.topNav__item-portion-words > div {
  display: flex;
}
.topNav__buttons {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topNav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: transform .1s linear;
}
.topNav__button:hover {
  transform: scale(1.05);
  transition: transform .1s linear;
}
.activeItem {
  border: #ffffff 1px solid;
  border-radius: 2px;
}
.topNav__button-print {
  width: 60px;
  height: 35px;
  cursor: pointer;
}
.topNav__button-print > img {
  max-width: 100%;
  max-height: 100%;
}
.main__menu {
  position: absolute;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: stretch;
  transition: left .3s linear;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.menu__items {
  width: 100%;
  margin: 10px 0 0 0;
}
.menu__item {
  color: #fff;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 17px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 0 0 7px;
  cursor: pointer;
}
.menu__item:not(:first-child) {
  border-bottom: 1px solid #fff;
}
.menu__item:not(:last-child) {
  border-top: 1px solid #fff;
}
.menu__item:hover {
  color: #d0d0d0;
  transition: color .1s linear;
}
.active-tab {
  color: #d0d0d0;
}
.flip-card {
  align-self: center;
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 1000px;
  font-family: 'OpenSansLight';
}
.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 15px;
  transform: rotateY(0deg);
  transition: transform .5s linear;
}
.flip-card__inner-back {
  transform: rotateY(180deg);
  transition: transform .5s linear;
}
.flip-card__front,
.flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: black;
  background: #fff;
  border-radius: 15px;
}
.flip-card__front {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 1fr .2fr;
  grid-template-columns: repeat(3, 1fr);
}
.flib-card__word-field {
  font-size: 27px;
}
.flip-card__back {
  transform: rotateY(180deg);
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flib-card__word-field {
  width: 100%;
  height: 100%;
  letter-spacing: .5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.flib-card__word-prev,
.flib-card__word-next,
.flib-card__word-studied {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.flib-card__word-prev:hover,
.flib-card__word-next:hover,
.flib-card__word-studied:hover {
  font-weight: 600;
  transition: fontWeight .7s linear;
}
.flib-card__word-prev {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.flib-card__word-studied {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.flib-card__word-next {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.wrapper-form-mistake {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(150, 150, 150, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform .3s linear;
}
.form-mistake {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'ReemKufiRegular';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-mistake__heading {
  margin: 15px 0;
  font-size: 24px;
}
.form-mistake__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-mistake__item:not(:last-child) {
  margin: 0 0 5px 0;
}
.form-mistake__item > label {
  margin: 0 0 5px 0;
  font-size: 18px;
}
.form-mistake__item > input {
  width: 100%;
  height: 33px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #bababa;
  border-radius: 5px;
  padding: 0 8px;
  font-size: 17px;
}
.form-mistake__item > textarea {
  width: 100%;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #bababa;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 17px;
  resize: none;
}
.form-mistake__item > input::placeholder {
  letter-spacing: 2px;
}
.form-mistake__item > textarea::placeholder {
  letter-spacing: 2px;
}
.form-mistake__buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
}
.form-mistake__buttons > button {
  padding: 5px 15px;
  background: #c7c7c7;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.form-mistake__buttons > button:hover {
  background: #d3d3d3;
  transition: background .1s linear;
}
.main__table {
  width: 90%;
  margin: 15px 0 0 0;
  border-radius: 10px;
  background: #fff;
  align-self: flex-start;
  padding: 7px;
}
.table__thead {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}
.table__tr {
  width: 100%;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: "OpenSansRegular";
}
.table__tbody > .table__tr:not(:last-child) {
  margin: 0 0 5px 0;
}
.table__tbody > .table__tr {
  cursor: pointer;
}
.table__tbody > .table__tr:hover {
  background: lightgray;
}
.table__th {
  font-weight: bold;
}
.table__th,
.table__td {
  font-size: 18px;
  padding: 5px;
}
.cell__number {
  width: 7%;
  text-align: center;
}
.cell__word {
  width: 25%;
}
.cell__transcription {
  width: 25%;
}
.cell__translate {
  width: 45%;
}
.tableSettings {
  position: fixed;
  bottom: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), -2px -2px 4px rgba(0, 0, 0, 0.7);
}
.tableSettings > img {
  max-width: 100%;
  max-height: 100%;
  transform: rotate(0deg);
  transition: transform .1s linear;
}
.tableSettings:hover > img {
  transform: rotate(60deg);
  transition: transform .1s linear;
}
.tableSettingsBox {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 250px;
  height: 150px;
  background: #e1e1e1;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .3s linear;
}
.tableSettingsBoxOpacity1 {
  opacity: 1;
  transition: opacity .3s linear;
}
.tableSettingsBox__form {
  width: 90%;
  height: 90%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'OpenSansRegular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tableSettingsBox__heading {
  margin: 0 0 15px 0;
}
.tableSettingsBox__item {
  display: flex;
  align-items: center;
  width: 35%;
  height: 30px;
}
.tableSettingsBox__item > input[type="radio"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 7px 0 0;
}
.tableSettingsBox__item > input[type="radio"]::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images/uncheckedGearForm.svg") no-repeat center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.tableSettingsBox__item > input[type="radio"]:checked::after {
  background: url("/images/checkedGearForm.svg") no-repeat center;
}
.tableSettingsBox__item > label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.tableSettingsBox__item:not(:last-child) {
  margin: 0 0 7px 0;
}
@media print {
  html {
    transform: scale(1);
    transform-origin: 0 0;
  }
  .top,
  .column__heading {
    display: none;
  }
  .color-white {
    color: rgba(0, 0, 0, 0);
  }
  .main__tableWord {
    margin: 0;
  }
  .table__numItem {
    display: none;
  }
  .table-icon-setting {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .topNav__topBts {
    width: 48%;
  }
}
.hidden {
  display: none;
}
